@font-face {
  font-family: 'RobotoMedium';
  src: url('./Roboto-Medium.ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'ClimateCrisis';
  src: url('./ClimateCrisis-Regular-VariableFont_YEAR.ttf');
  font-weight: 400;
  font-style: normal;
}
.hello {
    color: red;
    font-family: 'RobotoMedium';
    /* background: url('./icon.png'); */
  }